<key>SFSafariWebsiteAccess</key>
<dict>
    <key>Level</key>
    <string>All</string>
</dict>
<key>SFSafariContentScript</key>
<array>
    <dict>
        <key>Script</key>
        <string>turndown.js</string>
    </dict>
    <dict>
        <key>Script</key>
        <string>script.js</string>
    </dict>
</array>
<key>SFSafariExtension</key>
<dict>
    <key>Commands</key>
    <array>
        <dict>
            <key>Command</key>
            <string>create_draft_command</string>
            <key>Label</key>
            <string>Create Draft from Selection/Page</string>
        </dict>
    </array>
    <key>SFSafariToolbarItem</key>
    <dict>
        <key>Identifier</key>
        <string>safari-to-drafts-toolbar-button</string>
        <key>Label</key>
        <string>SafariToDrafts</string>
        <key>Action</key>
        <string>Command</string>
    </dict>
</dict> 